/* ******************************* BASE STYLES ****************************** */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: normal 1em/1.5 "Lexend Deca", sans-serif;

  background-color: #f0ffff;
  /* Shorthand: font-weight, font-size, line-height and font-family; */
}

fieldset {
  border: none;
}

.flex,
.flex-items,
.flex-ta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* ***************************** HEADER SECTION ***************************** */

.head-main {
  font-family: "Bree Serif", serif;

  color: #008080;
}

.head-p {
  font-family: "Bree Serif", serif;

  color: #808080;
}

.main-header {
  margin: 30px 0 30px 0;
  padding-right: 1rem;
  padding-left: 1rem;

  text-align: center;
}

.name {
  font-family: "Cinzel Decorative", cursive;

  padding: 0.5em;

  text-align: center;
  text-transform: uppercase;

  color: #fff;
  border-bottom: solid 2px #8b0000;
  background-color: #008080;
  text-shadow: 2px 2px 1px #191970;
}

h2.heading,
h2.heading-n {
  font-family: "Oswald", sans-serif;
  font-weight: bolder;

  margin: 5px 0 15px 0;

  text-transform: uppercase;

  color: #2f4f4f;
  text-shadow: 0 1px 1px #8fbc8f;
}

/* ****************************** FORM SECTION ****************************** */

.flex input,
.flex select {
  height: 40px;
  margin-bottom: 10px;
  padding-bottom: 10px;

  border-radius: 0.3rem;
}

.flex-ta textarea {
  border-radius: 0.3rem;
}

.flex-ta label {
  margin-bottom: 10px;
}

input[type="email"],
input[type="text"],
input[type="tel"],
select,
textarea {
  padding-left: 8px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

#zip-code {
  max-width: 50%;
}

.title-1 {
  margin-bottom: 10px;
}

.title {
  margin: 20px 0 10px 0;
}

input[type="submit"] {
  width: 100%;
  padding: 20px;

  cursor: pointer;
  -webkit-transition: background-color 0.5s 0s, border-radius 1s 0.1s;
  -o-transition: background-color 0.5s 0s, border-radius 1s 0.1s;
  transition: background-color 0.5s 0s, border-radius 1s 0.1s;
  /* transition: <transition-property> <duration> <delay> */
  -webkit-transition-timing-function: cubic-bezier(0.39, -0.44, 0.46, 1.53);
  -o-transition-timing-function: cubic-bezier(0.39, -0.44, 0.46, 1.53);
  transition-timing-function: cubic-bezier(0.39, -0.44, 0.46, 1.53);

  color: #fff;
  border-radius: 0.2rem;
  background-color: #228b22;
}

.button {
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}

#sign-up {
  font-size: 1.3rem;
}

/* ************ REMOVING DEFAULT APPEARANCE ON RADIOS/CHECKBOXES ************ */

input[type="checkbox"],
input[type="radio"] {
  width: 1.2em;
  height: 1.2em;

  cursor: pointer;

  color: green;
  border: 1.7px solid grey;
  background-color: #fff;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} /* Removes system-level styling */

input[type="checkbox"]::before,
input[type="radio"]::before {
  position: absolute;
  left: 15px;

  visibility: hidden;

  content: "✔";
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  visibility: visible;
}

.form-select {
  position: relative;
}

/* ****************************** PSEUDO-CLASS ****************************** */

input[type="submit"]:hover {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);

  border-radius: 10px;
  background-color: #006400;
}

input[type="submit"]:active {
  background-color: #1b5c1b;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;

  border: 2px solid #191970;
}

/* ***************************** PSEUDO-ELEMENTS **************************** */

h2.heading::before {
  margin-right: 8px;

  content: url(../images/contact.png);
}

h2.heading-n::before {
  max-width: 100px;
  margin-right: 8px;

  content: url(../images/newsletter.png);
}

#zip-code::-webkit-input-placeholder,
#feedback::-webkit-input-placeholder {
  font-size: medium;

  text-align: left;
}

#zip-code::-moz-placeholder,
#feedback::-moz-placeholder {
  font-size: medium;

  text-align: left;
}

#zip-code:-ms-input-placeholder,
#feedback:-ms-input-placeholder {
  font-size: medium;

  text-align: left;
}

#zip-code::-ms-input-placeholder,
#feedback::-ms-input-placeholder {
  font-size: medium;

  text-align: left;
}

#zip-code::placeholder,
#feedback::placeholder {
  font-size: medium;

  text-align: left;
}

input::-webkit-input-placeholder {
  font-size: x-small;
  font-style: italic;

  padding: 0.32rem 0.5rem 0 0;

  text-align: right;
}

input::-moz-placeholder {
  font-size: x-small;
  font-style: italic;

  padding: 0.32rem 0.5rem 0 0;

  text-align: right;
}

input:-ms-input-placeholder {
  font-size: x-small;
  font-style: italic;

  padding: 0.32rem 0.5rem 0 0;

  text-align: right;
}

input::-ms-input-placeholder {
  font-size: x-small;
  font-style: italic;

  padding: 0.32rem 0.5rem 0 0;

  text-align: right;
}

input::placeholder {
  font-size: x-small;
  font-style: italic;

  padding: 0.32rem 0.5rem 0 0;

  text-align: right;
}

input#fullname:hover::-webkit-input-placeholder,
input[type="email"]:hover::-webkit-input-placeholder {
  font-size: small;

  color: red;
}

input#fullname:hover::-moz-placeholder,
input[type="email"]:hover::-moz-placeholder {
  font-size: small;

  color: red;
}

input#fullname:hover:-ms-input-placeholder,
input[type="email"]:hover:-ms-input-placeholder {
  font-size: small;

  color: red;
}

input#fullname:hover::-ms-input-placeholder,
input[type="email"]:hover::-ms-input-placeholder {
  font-size: small;

  color: red;
}

input#fullname:hover::placeholder,
input[type="email"]:hover::placeholder {
  font-size: small;

  color: red;
}

input[type="tel"]:hover::-webkit-input-placeholder,
input#address:hover::-webkit-input-placeholder,
input#city:hover::-webkit-input-placeholder {
  font-size: small;

  color: orange;
}

input[type="tel"]:hover::-moz-placeholder,
input#address:hover::-moz-placeholder,
input#city:hover::-moz-placeholder {
  font-size: small;

  color: orange;
}

input[type="tel"]:hover:-ms-input-placeholder,
input#address:hover:-ms-input-placeholder,
input#city:hover:-ms-input-placeholder {
  font-size: small;

  color: orange;
}

input[type="tel"]:hover::-ms-input-placeholder,
input#address:hover::-ms-input-placeholder,
input#city:hover::-ms-input-placeholder {
  font-size: small;

  color: orange;
}

input[type="tel"]:hover::placeholder,
input#address:hover::placeholder,
input#city:hover::placeholder {
  font-size: small;

  color: orange;
}

/* ***************************** HORIZONTAL RULE **************************** */

.hr {
  padding-right: 1em;
  padding-left: 1em;
}

.hr-1 {
  border: 2.5px solid #2f4f4f;
}

.hr-2 {
  margin-bottom: 10px;

  border: 1.1px solid #2f4f4f;
}

.hr-3 {
  margin-bottom: 10px;

  border: 1.1px dashed #2f4f4f;
}

/* ********************************* FOOTER ********************************* */

.main-footer {
  padding-bottom: 20px;

  text-align: center;
}

/* ****************************** MEDIA QUERIES ***************************** */

@media (min-width: 768px) {
  .wrap {
    max-width: 768px;
    margin: 0 auto;
  }

  .flex-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .flex input,
  .flex select,
  .flex textarea {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .flex label {
    -ms-flex-preferred-size: 22%;
    flex-basis: 22%;
  }

  #zip-code {
    max-width: 25%;
  }

  .head-main {
    font-size: 1.6rem;
  }

  #feedback {
    margin-bottom: 20px;
  }

  /* ***************************** PSEUDO ELEMENT ***************************** */

  input::-webkit-input-placeholder {
    font-size: small;
    font-style: italic;

    padding: 0.32rem 0.5rem 0 0;

    -webkit-transition: opacity 0.5s 0s, color 0.5s 0.15s;

    transition: opacity 0.5s 0s, color 0.5s 0.15s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    text-align: right;

    opacity: 0;
  }

  input::-moz-placeholder {
    font-size: small;
    font-style: italic;

    padding: 0.32rem 0.5rem 0 0;

    -moz-transition: opacity 0.5s 0s, color 0.5s 0.15s;

    transition: opacity 0.5s 0s, color 0.5s 0.15s;
    transition-timing-function: ease-in-out;
    text-align: right;

    opacity: 0;
  }

  input:-ms-input-placeholder {
    font-size: small;
    font-style: italic;

    padding: 0.32rem 0.5rem 0 0;

    -ms-transition: opacity 0.5s 0s, color 0.5s 0.15s;

    transition: opacity 0.5s 0s, color 0.5s 0.15s;
    transition-timing-function: ease-in-out;
    text-align: right;

    opacity: 0;
  }

  input::-ms-input-placeholder {
    font-size: small;
    font-style: italic;

    padding: 0.32rem 0.5rem 0 0;

    -ms-transition: opacity 0.5s 0s, color 0.5s 0.15s;

    transition: opacity 0.5s 0s, color 0.5s 0.15s;
    transition-timing-function: ease-in-out;
    text-align: right;

    opacity: 0;
  }

  input::placeholder {
    font-size: small;
    font-style: italic;

    padding: 0.32rem 0.5rem 0 0;

    -webkit-transition: opacity 0.5s 0s, color 0.5s 0.15s;

    -o-transition: opacity 0.5s 0s, color 0.5s 0.15s;

    transition: opacity 0.5s 0s, color 0.5s 0.15s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    text-align: right;

    opacity: 0;
  }

  input:hover::-webkit-input-placeholder {
    opacity: 1;
  }

  input:hover::-moz-placeholder {
    opacity: 1;
  }

  input:hover:-ms-input-placeholder {
    opacity: 1;
  }

  input:hover::-ms-input-placeholder {
    opacity: 1;
  }

  input:hover::placeholder {
    opacity: 1;
  }
}
